<!DOCTYPE html>
<html>
<head>
	<title>Vendor Payment Request ACK</title>
</head>
<body>
<p>The Payment Request for Invoice Number {{ invoice_number }} has been Processed on {{ processed_date }}</p>
<!-- <table>
    <tr>
        <td style="background-color: #4ecdc4;border-color: #4c5764;border: 2px solid #45b7af;padding: 10px;text-align: center;">
            <a style="display: block;color: #ffffff;font-size: 12px;text-decoration: none;text-transform: uppercase;" href="{{ approval_url }}">
                Approve
            </a>
        </td>
 		<td><p></p></td>
        <td style="background-color: #4ecdc4;border-color: #4c5764;border: 2px solid #45b7af;padding: 10px;text-align: center;">
	        <a style="display: block;color: #ffffff;font-size: 12px;text-decoration: none;text-transform: uppercase;" href="{{ deny_url }}">
                Decline
            </a>
        </td>
    </tr>
</table> -->
</body>
</html>