<!-- template to show all employee records -->

{% extends "userapp/base_site.html" %}

{% block title %} Table Dynamic {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Application Account <small>Details</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">                
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th><a>Emp Code</a></th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Location</th>
                    <th>Personal Email</th>
                    <th>Designation</th>
                    <th>Approval Status</th>
                     {% for m in master %}
                    <th>{{m.app_name}}&nbsp;Status</th>
                     {% endfor %} 
                  </tr>
                </thead>
                <tbody>
                {% for app in apps %}
                  <tr>
                    <td><a href="{% url 'app_account_form' app.emp_code %}">{{ app.emp_code }}</a></td>
                    <td>{{ app.fname }}&nbsp;{{ app.lname }}</td>                        
                    <td>{{ app.master_table_type }}</td> 
                    <td>{{ app.location }}</td> 
                    <td>{{ app.email }}</td>                    
                    <td>{{ app.desg }}</td>
                    <td>{{ app.status }}</td>
                    {% for m in master %}
                    {% if m.app_name in app %}
                      <td>{% for key,value in app.items %}
                          {% if key == m.app_name %}
                          {{value}}
                          {% endif %}
                          {% endfor %}  
                      </td>
                    {% else %}
                      <td>Inactive</td>
                    {% endif %}
                    {% endfor %}  
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}
