<!-- template to show selected employee details -->

{% extends "userapp/base_site.html" %}

{% block title %} Form Validation {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Employee Details</h3>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <form class="form-group form-label-left" method="POST" action="{% url 'edit_employee' emp.emp_code %}" id="emplyoyee_edit"  data-dropdown-url="{% url 'ajax_load_cities' %}" > {% csrf_token %}

            
              <div class="row">

                <!-- <div class="item form-group col-md-4 col-xs-12">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Request Id
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" value="{{emp.request_id.request_id}}" readonly class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
 -->
                <div class="item form-group col-md-6 col-sm-3 col-xs-12">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Emp Code 
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" value="{{emp.emp_code}}" readonly class="form-control col-md-7 col-xs-12" name="emp_code">
                  </div>
                </div>

                <div class="item form-group col-md-6 col-sm-3 col-xs-12">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">First Name 
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" value="{{emp.emp_fname}}" readonly class="form-control col-md-7 col-xs-12" name="emp_first" required>
                  </div>
                </div>

                <div class="item form-group col-md-6 col-sm-3 col-xs-12">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Last Name 
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" value="{{emp.emp_lname}}" readonly class="form-control col-md-7 col-xs-12" name="emp_last" required>
                  </div>
                </div>

                <div class="item form-group col-md-6 col-sm-3 col-xs-12">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Personal Email ID
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="email" value="{{emp.emp_email}}" readonly class="form-control col-md-7 col-xs-12" name="emp_email" required>
                  </div>
                </div>

                <div class="item form-group col-md-6 col-sm-3 col-xs-12">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Mobile No.
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-2">
                    <input id="ext" name="ext" class="form-control col-md-7 col-xs-12"  value = "+{{emp.country_isd_code}}"type="text" readonly >
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" value="{{emp.emp_mobile}}"  readonly class="form-control col-md-7 col-xs-12" name="emp_mobile" required>
                  </div>
                </div>

                <div class="item form-group col-md-6 col-sm-3 col-xs-12">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Country
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" value="{{emp.country.country_name}}" readonly class="form-control col-md-7 col-xs-12" name="country" required>
                  </div>
                </div>

               <div class="item form-group col-md-6 col-sm-3 col-xs-12">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12" for="last_name">Reporting Authority 
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" id="authority" name="authority" value="{{emp.reporting_authority}}" class="form-control col-md-7 col-xs-12" required readonly>
                  </div>
                </div>

                <div class="item form-group col-md-6 col-sm-3 col-xs-12">
                  <label for="authority_email" class="control-label col-md-4 col-sm-3 col-xs-12">Reporting Authority Email </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    <input id="authority_email" type="email" name="authority_email" class="form-control col-md-7 col-xs-12" value="{{emp.reporting_authority_email}}" required readonly >
                  </div>
                </div>

                <div class="item form-group col-md-6 col-sm-3 col-xs-12">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Date of Birth 
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" value="{{emp.emp_dob|date:"Y-m-d"}}"  class="form-control col-md-7 col-xs-12" name="emp_dob" readonly required>
                  </div>
                </div>



                <div class="item form-group col-md-6 col-sm-3 col-xs-12">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Date of Joining
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" value={{emp.date_of_joining|date:"Y-m-d"}} required class="form-control col-md-7 col-xs-12" name="emp_doj" readonly >
                  </div>
                </div>

                <div class="item form-group col-md-6 col-sm-3 col-xs-12 ">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Designation
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                     <select class="form-control col-md-7 col-xs-12" name="designation" id="designation" readonly required>
                      
                      <option value="{{ emp.emp_desg }}" selected>{{ emp.emp_desg.desg_name }}</option>

                    </select>
                  </div>
                </div>



                <div class="item form-group col-md-6 col-sm-3 col-xs-12 ">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Vertical
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                     <select class="form-control col-md-7 col-xs-12" name="vertical" id="vertical" readonly required>

                      {% if  not vertical_id == None %}
                      <option value="{{ vertical_id.id }}" selected>{{ vertical_id.vt_name }}</option>

                     
                      {% endif %}
                    
                    </select>
                  </div>
                </div>


                <div class="item form-group col-md-6 col-sm-3 col-xs-12 ">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Region
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                     <select class="form-control col-md-7 col-xs-12" name="region" id="region" readonly required>

                      {% if  not region_id == None %}
                       <option value="{{ region_id.id }}" selected>{{ region_id.rg_name }}</option>

                      
                      {% else %}
                       <option selected value="0">None</option>

                      {% endif %}
                     
                    </select>
                  </div>
                </div>

                <div class="item form-group col-md-6 col-sm-3 col-xs-12 ">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Division
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                     <select class="form-control col-md-7 col-xs-12" name="division" id="division" readonly required>
                      {% if  not division_id == None %}
                       <option value="{{ division_id.id }}" selected>{{ division_id.div_name }}</option>

                     
                      {% else %}
                       <option selected  value="0">None</option>

                      {% endif %}
                    </select>
                  </div>
                </div>
               

               

                <div class="item form-group col-md-6 col-sm-3 col-xs-12">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Branch 
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                   <select class="form-control col-md-7 col-xs-12" name="branch" id="branch" readonly required>
                     {% if  not branch_id == None %}
                       <option value="{{ branch_id.id }}" selected>{{ branch_id.br_name }}</option>

                    
                      {% else %}
                       <option selected value="0">None</option>

                      {% endif %}
                    </select>
                  </div>
                </div>    

                <div class="item form-group col-md-6 col-sm-3 col-xs-12">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Status
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    {% if emp.active == True %}
                    <input type="text" value="Active"  class="form-control col-md-7 col-xs-12" name="emp_status" readonly>
                    {% else %} 
                    <input type="text" value="Inactive" readonly class="form-control col-md-7 col-xs-12" name="emp_status">
                    {% endif %}
                  </div>
                </div>



                 <div class="item form-group col-md-6 col-sm-3 col-xs-12">
                  <label class="control-label col-md-4 col-sm-3 col-xs-12">Address
                  </label>
                  <div class="col-md-8 col-sm-6 col-xs-12">
                   

                      <textarea required class="form-control" rows="5"  readonly name="emp_address" id="comment" >{{emp.emp_address}}</textarea>
                  </div>
                </div>

<!-- Locatin -->


                <div class="item form-group col-md-12 col-sm-12 col-xs-12">
                   <div class=" pull-right">
                    <!-- <button id="return" class="btn btn-success pull-right">Go Back</button> -->
                    <a href="{% url 'emp_log_list' emp.emp_code %}" id="log" name="log" class="btn btn-default   ">Logs</a>
                   <a href="{% url 'index' %}" id="cancel" name="cancel" class="btn btn-default   ">Go Back</a>
                   
                     <a href="{% url 'edit_employee' emp.emp_code  %}?ed=True" id="edit" name="edit" class="btn btn-default ">Edit</a>

                     {% if emp.active %}
                      

                    <!-- Small modal -->
                    <button type="button" class="btn btn-primary  " data-toggle="modal" data-target=".bs-deactive-modal-sm">Deactivate</button>

                    <!-- /modals -->

                      {% else %}

                    <!-- Small modal -->
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target=".bs-activate-modal-sm" >Activate</button>

                    <!-- /modals -->

                      {% endif %}
                      </div>
                  </div>
                </div>
<!-- End for row  -->

                <span class="section">Application Status</span>
                <div class="row">
                {% for key,value in app_details.items %}
                  <div class="item form-group col-md-6 col-sm-3 col-xs-12">
                    <label class="control-label col-md-6 col-sm-3 col-xs-12">{{key}} 
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      
                      <input type="text" value="{{value}}" readonly class="form-control col-md-7 col-xs-12">
                  
                    </div>
                  </div>
                {% endfor %}

                </div>


                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


 <div class="modal fade bs-deactive-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Confirmation </h4>
        </div>
        <div class="modal-body">

          Do you want to deactivate the employee ?
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <a href="{% url 'active_deactive_employee' emp_code=emp.emp_code action_taken='deactivate' %}" value='deactivate' name="tive" class="btn btn-default" >Yes</a>
        </div>

      </div>
    </div>
  </div>

<div class="modal fade bs-activate-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2">Confirmation </h4>
          </div>
          <div class="modal-body">

            <p>Do you want to activate the employee ?</p>
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
            No </button>
            <a href="{% url 'active_deactive_employee' emp_code=emp.emp_code action_taken='activate'  %}" value='activate' name="tive" class="btn btn-default">Yes</a>
          </div>

        </div>
      </div>
  </div>




<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#vertical").change(function () {
      var url = $("#emplyoyee_edit").attr("data-dropdown-url");  // get the url of the `load_cities` view
      var vertical_id = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'data_id': vertical_id,
          'type' : 'region'      // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#region").html(data);
           $("#division").html(" <option selected  >None</option> ");
           $("#branch").html(" <option selected  >None</option> ");
            // replace the contents of the city input with the data that came from the server
        }
      });

    });

    $("#region").change(function () {
      var url = $("#emplyoyee_edit").attr("data-dropdown-url");  // get the url of the `load_cities` view
      var region_id = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'data_id': region_id,
          'type' : 'division'      // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#division").html(data);  // replace the contents of the city input with the data that came from the server
           $("#branch").html(" <option selected  >None</option> ");
        }
      });

    });
    $("#division").change(function () {
      var url = $("#emplyoyee_edit").attr("data-dropdown-url");  // get the url of the `load_cities` view
      var division_id = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'data_id': division_id,
          'type' : 'branch'       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#branch").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });


    $('#location').change( function() {
       var a = $(this).val();
      
       if (a == 'v') {
          // $('#division_div').toggle();
          $("#vertical_div").removeClass('hidden');
          $("#region_div").addClass('hidden');
          $("#division_div").addClass('hidden');
          $("#branch_div").addClass('hidden');

         
         
       }
       if (a == 'r') {
         $("#vertical_div").removeClass('hidden');
          $("#region_div").removeClass('hidden');
          $("#division_div").addClass('hidden');
          $("#branch_div").addClass('hidden');
         
       } 
       if (a == 'd') {
          $("#vertical_div").removeClass('hidden');
          $("#region_div").removeClass('hidden');
          $("#division_div").removeClass('hidden');
          $("#branch_div").addClass('hidden');
         
       } 
       if (a == 'b') {
         $("#vertical_div").removeClass('hidden');
          $("#region_div").removeClass('hidden');
          $("#division_div").removeClass('hidden');
          $("#branch_div").removeClass('hidden');
       } 
     });



    function toggle() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}

  </script>



    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}