<html>
<body>
<!-- <div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Email has been Sent to Respective Branch Manager !!</strong></p>
  <hr>
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="http://10.10.17.101/emp/index.php" role="button">Continue to homepage</a>
  </p>
</div> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br>
        <img width="25%" height="20%" src="/static/images/thankyou.png">
        <br><h1 style="color:#0fad00">Success!</h1>

        <h3>UserName has been updated succesfully!</h3>

    <br><br>
        </div>
        
	</div>
</div>

</body>
</html>
